<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.ctrl.dao.GroupMapper">

    <select id="listGroups" resultType="com.xzy.pojo.ctrl.GroupDO">
        select * from t_group
    </select>

</mapper>