<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.ctrl.dao.KindMapper">

    <select id="listKinds" resultType="com.xzy.pojo.ctrl.KindDO">
        select * from t_kind order by group_id,ordering
    </select>
    <select id="listKindsByByLotteryId" resultType="com.xzy.pojo.ctrl.KindDO">
        select kind_id,kind_key,kind_name,group_id from t_kind where group_id=(select group_id from t_lottery where lottery_id=#{lotteryId}) order by group_id,ordering
    </select>

</mapper>