<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.ctrl.dao.OddsMapper">

    <select id="listOddss" resultType="com.xzy.pojo.ctrl.OddsDO">
        select * from t_odds
    </select>
    <select id="listOddssByLotteryId" resultType="com.xzy.pojo.ctrl.OddsDO">
        select * from t_odds where play_id in (select play_id from t_play where lottery_id=#{lotteryId})
    </select>

</mapper>