<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.ctrl.dao.UserOddsCloseMapper">
    <select id="listUserOddsCloseDOs"   resultType="com.xzy.pojo.ctrl.UserOddsCloseDO">
        select o.odds_id,o.is_close
        from t_user_odds_close o
        where o.lottery_id=#{lotteryId} and o.user_id=#{userId}
    </select>
</mapper>