<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzy.ctrl.dao.UserNoticeMapper">

    <select id="listShowNotice" resultType="com.xzy.pojo.ctrl.bo.UserNoticeBO">
        select start_time,end_time,content,is_alert
        from t_user_notice n ,hm_manage.hm_user u where u.user_id=#{userId} and (u.company_id=n.user_id or n.user_id=1)
            <if test="type=='MEMBER'">
                and n.is_member=1
            </if>
            <if test="type=='AGENT'">
                and n.is_agent=1
            </if>
            and n.end_time >= UNIX_TIMESTAMP() and  <![CDATA[ n.start_time <= UNIX_TIMESTAMP() ]]> order by n.ordering,n.id desc
        limit #{start},#{end}
    </select>

    <select id="getShowNoticeTotal" resultType="Integer">
        select count(n.id)
        from t_user_notice n ,hm_manage.hm_user u where u.user_id=#{userId} and (u.company_id=n.user_id or n.user_id=1)
        <if test="type=='MEMBER'">
            and n.is_member=1
        </if>
        <if test="type=='AGENT'">
            and n.is_agent=1
        </if>
        and n.end_time >= UNIX_TIMESTAMP() and  <![CDATA[ n.start_time <= UNIX_TIMESTAMP() ]]> order by n.ordering,n.id desc
    </select>


    <select id="getUserNoticeTotal" resultType="Integer">
        <if test="userId!=1">
            select count(n.id) from t_user_notice n where n.user_id=#{userId}
        </if>
        <if test="userId==1">
            select count(n.id) from t_user_notice n
        </if>
    </select>

    <select id="listUserNotices" resultType="com.xzy.pojo.ctrl.bo.UserNoticeBO">
        <if test="userId!=1">
            select n.*,u.username, 1 is_myself from hm_ctrl.t_user_notice n ,hm_manage.hm_user u where n.user_id=u.user_id and n.user_id=#{userId} order by n.ordering,n.id desc limit #{start},#{end}
        </if>
        <if test="userId==1">
            select n.*,u.username,if(u.user_id=#{userId},1,0) is_myself from hm_ctrl.t_user_notice n ,hm_manage.hm_user u where n.user_id=u.user_id order by n.ordering,n.id desc limit #{start},#{end}
        </if>
    </select>

    <update id="updateUserNotice">
        update t_user_notice
        set start_time=#{notice.startTime},
            end_time=#{notice.endTime},
            is_alert=#{notice.isAlert},
            is_agent=#{notice.isAgent},
            is_member=#{notice.isMember},
            content=#{notice.content},
            ordering=#{notice.ordering}
        where id=#{notice.id}
    </update>

    <delete id="deleteUserNotice">
        delete from t_user_notice where id=#{id} and user_id=#{userId}
    </delete>

    <update id="updateUserNoticeState" statementType="STATEMENT">
        <![CDATA[ update t_user_notice set ${type}='${val}' where id=${id} and user_id=${userId}]]>
    </update>

    <insert id="saveUserNotice">
        insert into t_user_notice(user_id,start_time,end_time,content,`is_alert`,`is_agent`,`is_member`,ordering)
        value(#{notice.userId},#{notice.startTime},#{notice.endTime},#{notice.content},#{notice.isAlert},#{notice.isAgent},#{notice.isMember},#{notice.ordering})
    </insert>

</mapper>